<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Torchmedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Torchmedia.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="Img/logo.png" width="75px" alt="Logo TorchMedia">
                    <a href="@Url.Action("Index", "Home")">
                        <h1>TorchMedia</h1>
                    </a>
                </div>
                <div class="hamburger" id="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
<ul class="nav-links" id="nav-links">
    <li><a href="@Url.Action("Index", "Home")">Quienes Somos</a></li>
    <li><a href="@Url.Action("Index", "Home")">Nuestros Servicios</a></li>
    <li><a href="@Url.Action("Index", "Home")">Proyectos</a></li>
    <li><a href="@Url.Action("Index", "Home")">Testimonios</a></li>

    @if (Context.Request.Cookies.ContainsKey("Correo"))
    {
        <li><a href="@Url.Action("MisTurnos", "Turnos")" class="button">@Context.Request.Cookies["Correo"]</a></li>
        <li><a href="@Url.Action("CerrarSesion", "Usuarios")" class="button">Cerrar Sesión</a></li>
    }
    else
    {
        <li><a href="@Url.Action("Login", "Usuarios")" class="button">Iniciar Sesión</a></li>
    }
</ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>© 2024 Todos los Derechos Reservados MiAplicación</p>
            <p>info@miaplicacion.com</p>
            <div class="social-links">
                <a href="https://www.instagram.com/miaplicacion"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
