@model TorchMedia.Models.HomeViewModel


@{
    ViewBag.Title = "Inicio";
}

<!-- Sección Hero -->
<section class="hero" id="hero">
    <div class="container">
        <div class="hero-content">
            <h2><b>@Model.HeroContent.Titulo</b></h2>
            <p>@Model.HeroContent.Descripcion</p>
        </div>
        <button class="button button-outline">
            <a href="@Url.Action("Contactanos", "Home")">Contactanos</a>                                                                        
        </button>
        <div class="hero-video">
            <video autoplay muted loop>
                <source src="@Model.HeroContent.VideoUrl" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<!-- Sección Quiénes Somos -->
<section id="quienes-somos" class="quienes-somos">
    <div class="container">
        <div class="section-content">
            <img src="@Model.QuienesSomosContent.ImagenUrl" width="50%" alt="Logo TorchMedia">
            <div class="info">
                <h1>@Model.QuienesSomosContent.Titulo</h1>
                <p>@Model.QuienesSomosContent.Descripcion</p>
            </div>
        </div>
        <a href="@Url.Action("Contactanos", "Home")">Contactanos</a>

    </div>
</section>

<!-- Sección Nuestros Servicios -->
<section id="nuestros-servicios" class="nuestros-servicios">
    <div class="background-video">
        <video autoplay muted loop>
            <source src="~/Video/Services_Background.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="section-title">
            <h2>Nuestros Servicios</h2>
        </div>
        <div class="section-content">
            @foreach (var servicio in Model.ServiciosContent)
            {
                <div class="section-item">
                    <img src="@servicio.IconoUrl" width="50px" alt="Icono">
                    <h3>@servicio.Titulo</h3>
                    <p>@servicio.Descripcion</p>
                    <button class="button button-outline">
                        <a href="@Url.Action("Contactanos", "Home")" style="text-decoration: none; color: inherit;">Más Información</a>
                    </button>
                </div>
            }
        </div>
    </div>
</section>

<!-- Sección Proyectos -->
<section id="proyectos" class="proyectos">
    <div class="container">
        <div class="section-title">
            <h2>Proyectos Destacados</h2>
        </div>
        <div class="section-content">
            @foreach (var proyecto in Model.ProyectosContent)
            {
                <div class="section-item">
                    <video width="130%" autoplay muted loop>
                        <source src="@proyecto.VideoUrl" type="video/mp4">
                    </video>
                </div>
            }
        </div>
    </div>
    <a href="@Url.Action("Contactanos", "Home")" class="button">Contáctanos</a>
</section>

<!-- Sección Testimonios -->
<section id="testimonios" class="testimonios">
    <div class="container">
        <div class="section-title">
            <h2>Testimonios</h2>
        </div>
        <div class="section-content">
            <div class="video-container">
                <video controls>
                    <source src="@Model.TestimoniosContent.VideoUrl" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>
    </div>
</section>

<!-- Pie de página -->
<footer class="footer">
    <div class="container">
        <p>@Model.FooterContent.Texto</p>
        <p>@Model.FooterContent.Correo</p>
        <div class="social-links">
            <a href="@Model.FooterContent.InstagramUrl"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
